
:root{
    font-size: 16px;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #545454;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--gray30);
    font-family: 'Rubik', sans-serif;
    margin: 0;
    text-align: center;
}

p {
    color: var(--gray10);
}

/* ELEMENTOS HTML */

.debug {
    /* 
    outline: 2px solid red; 
    Para mi caso personal utilizare el box-shadow
    */
    box-shadow: 0 0 20px yellowgreen;
}

.hero {
    background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url(../images/bgverd.png);
    block-size: 96px;
    background-position: center;
    background-size: cover;   
}

  .slider-container {
    /* block-size: 100px; */
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
    /* border: 1px solid purple; */
  }
  .video {
    margin: 0;
    /* border: 1px solid blue; */
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .slider-bullet-list {
    /* border: 1px solid yellow; */
    text-align: center;
    margin-block-start: 10px;
   
  }
  .slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: var(--gray30);
    border-radius: 50%;
  }

/* Header */

.header {
  
}

.header-content {
    padding-inline-start: 20px;
}

header {
    margin-block-start: 20px;
    font-size: 14px;
    color: var(--white30);
    /* border: 1px solid red; */
    text-align: left;    
    /* Le vamos a dar el ancho al bloque de acuerdo al ancho
    disponible en pantalla, evitando el scrooling
    width: 50vw; */ 
}


header a {
    color: #616161;
    text-decoration: none;
}

header a:hover{
    color: #212121;
}

header li {
    margin-bottom: 16px;
}

nav details summary {
    font-weight: bold;
    line-height: 24px;
}



/* 
se nos habilitan 5 opciones mas
top, left, bottom, right, z-index
*/
/* 
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 1;
 */
/* 
OTRAS POSICIONES
position: fixed;
position: stick;
position: static;
position: relative;
position: absolute;
*/
/* Le vamos a dar el ancho al bloque de acuerdo al ancho
disponible en pantalla, evitando el scrooling
width: 50vw; */ 

.wrapper {
    width: 902px;
    margin: auto;
}

.main-content {
    background: white;
}



a {
    color: var(--gray30);
}


h1 {
font-size: 60px;
margin: 64px 0 16px;
font-weight: bold;
}


hr {
   margin: 64px 0;
}

h2 {
    font-size: 32px;
    margin: 64px 0 40px;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    margin: 16px 0 24px;
    font-weight: normal;
    position: sticky;
    top: 3px;
    background: white;           
}

blockquote {
    padding-left: 16px;
    border-inline-start: 4px solid #5551FF;
    width: 633px;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
}


blockquote p {
    color: #000000;
    line-height: 24px;
    font-size: 24px;
}

blockquote span::before {
    content: '-';
    color: #000000;
}

blockquote span {
    color: #000000;
}

pre {
    border: 8px solid #5551FF;
    padding: 40px;
    line-height: 24px;
    border-radius: 8px;
    box-shadow: -10px 10px 0px #ABAAF6;
}

input {
    padding: 10px 20px;
    margin: 20px;
    box-sizing: border-box;
    /* Practica personal */
    border-radius: 20px 0 20px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid blue;
}

input:focus{
    outline:none;
}



/* SECTION CONTENT */

.section-content ol li {
    line-height: 24px;
}

.section-content ul li {
    margin-bottom: 16px;
}

.section-content + hr {
    display: none;
}

.section-content {
    counter-reset: alfgow;
    margin-bottom: 64px;
    position: relative;
}

.section-content:first-of-type {
    margin: 0;
}

.section-content h3 {
    counter-increment: alfgow;
    padding-bottom: 8px;
}

.section-content h3::before {
    content: counter(alfgow)". ";
}



.section-content img {
    margin-top: 40px;
}

.section-content img:first-of-type {
    margin-top: 0;
}


::selection {
    background: rgb(240, 180, 180);
}

footer {
    background-color: #000000;
    text-align: center;
    height: 70px;
    
    padding-top: 20px;
}

footer p {
    color: white;
}

/* Media Queries Mobile First*/

@media screen and (min-width: 1366px) {
    .hero {
        block-size: 350px;
    }

    .header {
        position: sticky;
        inset-block-start: -45px;
    }

    .header-content {
        position: relative;
        inset-block-start: 65px;
        padding-inline: 0;
    }

    header {
        position: absolute;
        inset-block-start: 65px;
        inset-inline-start: 930px;
        inline-size: 188px;
        /* border: 1px solid red; */
    }   
    
    h1 {
        font-size: 60px;
        margin-block-start: 64px;
    }

   
}